#root{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.traffic-light-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    background-color: black;
    border-radius: 10px;
}
.stick{
    background-color: black;
    height: 200px;
    width: 30px;
}
.light-container{
    position: relative;
    width: 250px;
    height: 250px;
    margin: 10px;
}
.btn-shape{
    position:absolute;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    border: 0;
    z-index: 2;
    
}
.brightness-filter{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    filter: blur(50px);
    z-index: 1;
    opacity: 0.1;
}
.btn-color-red{
    background-color: rgb(240, 0, 0);
}
.btn-color-green{
    background-color: rgb(0, 163, 0);
}
.btn-color-yellow{
    background-color: rgb(245, 245, 0);
}
.btn-color-purple{
    background-color: purple;
}
.glow{
    opacity: 1;
}
.btn-primary{
    margin: 5px;
}
